// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
@import 'prototype';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* Replicating Notify */

.form-control-5em {
  max-width: 5em;
}

.secondary-link {
  display: block;
  margin-top: 30px;
}

// .button {
//   display: block;
// }


/* Replicating GOV.UK */

.destination {
  // @include core-14;
}

.side-bar-list {
  @include core-16;
}

/* New */

.loose-list {
  li {
    margin-bottom: 20px;
  }
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.explanation-list
  {
    margin-bottom: 20px;
    .lead {
      margin-bottom: 0px;
    }
  }