/* Replicating Notify */

.form-control-5em {
  max-width: 5em;
}

.secondary-link {
  display: block;
  margin-top: 30px;
}

.button {
  display: block;
}

/* New */

.loose-list {
  li {
    margin-bottom: 20px;
  }
}

.margin-bottom-large {
  margin-bottom: 60px;
}