{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {

    $("#downloadLink").click(function (e) {
        e.preventDefault();

        var href = $(this).attr("href");
        window.location = href;
    });
    $('#downloadLink').trigger('click');
});
</script>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Download complete</h1>

      <p>
        To download this file again, click the link in your email.
      </p>

      <p>
        If there is a problem with your document contact <a href='mailto:whitechapelhealthcentre@nhs.nét'>whitechapelhealthcentre@nhs.net</a>.
      </p>

      <!-- This is hidden -->
      <a class='js-hidden' href='/document.pdf' download='download' id='downloadLink'>
        Download to your device
      </a>

    </div>
  </div>
</main>
{% endblock %}


