{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Document download
      </h1>
      
      <h2 class='heading-medium'>
        Flows
      </h2>
      <ul class='loose-list'>
        <li>
          <a href='001-2fa-generic/access-control'>
            Generic, 2FA
          </a>
        </li>
        <li>
          <a href='002-fish-licence/manage-document'>
            Junior fishing licence, no auth, no post
          </a>
        </li>
        <li>
          <a href='003-d1/download'>
            D1 driver’s licence
          </a>
        </li>
        <li>
          <a href='004-d1-prefilled/access'>
            D1 driver’s licence, prefilled, 2FA
          </a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


