{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Document download
      </h1>
      
      <h2 class='heading-medium'>
        Flows
      </h2>
      <ul>
        <li>
          <a href='001-2fa-generic/access-control'>
            Generic with 2FA
          </a>
        </li>
        <li>
          <a href='002-fish-licence/manage-document'>
            Junior fish licence, no auth
          </a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


