{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Document download prototypes
      </h1>

      <h2 class='heading-medium'>
        31 August 2017        
      </h2>
      <ul class=''>
        <li>
          <a href="zj4R1c51Fk4f">
            Tax credit — National insurance number
          </a>
        </li>
        <li>
          <a href='n9EEARjAtN3i'>
            Tax credit —  Date of birth
          </a>
        </li>
      </ul>


      <h2 class='heading-medium'>
        15 August 2017
      </h2>

      <h3 class='heading-small'>
        Example service
      </h3>
      <ul class=''>
        <li>
          <a href='002-fish-licence/start'>
            Junior fishing licence application
          </a>
        </li>
      </ul>

      <h3 class='heading-small'>
        From email
      </h3>
      <ul class=''>
        <li>
          <a href='001-2fa-generic/access-control'>
            Generic, 2FA
          </a>
        </li>
        <li>
          <a href='002-fish-licence/manage-document'>
            Junior fishing licence, no auth, no post
          </a>
        </li>
        <li>
          <a href='003-d1-gry-tbh-drt-qop-fdr/download'>
            D1 driver’s licence
          </a>
        </li>
        <li>
          <a href='004-d1-5CF8YRP99Q34/access'>
            D1 driver’s licence, prefilled, 2FA
          </a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


