{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
        </a>
      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}


{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Enter your tax credit reference
      </h1>
      <p>
        Your reference number can be found on your Tax Credit statements.
      </p>
      <form method="post" action='#' autocomplete="off">
        <div class="form-group">
          <label class="form-label-bold" for="ni-number">
            Your tax credit reference number
            <span class="form-hint">
            For example, ‘248411’.
            </span>
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>
        <input type="submit" class="button margin-bottom-40" value="Continue">
      </form>
      <p>
        If you don’t have your reference number, contact <a href=''>HM Revenue and Customs</a> with your National Insurance number.
      </p>
    </div>
  </div>
</main>

{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
